.container {
    width: 90%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: 8px;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
  }
  .button {
    display: inline-block;
    background-color: #0070f3;
    color: white;
    text-decoration: none;
    /* padding: 1rem 2rem; */
    margin: 1rem 0;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: none;
    cursor: pointer;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tableHeader {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #0070f3;
    color: white;
    font-weight: 600;
  }
  
  .tableCell {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
  }
  
  .tableCell:hover {
    background-color: #f1f1f1;
  }
  
  .link {
    color: #0070f3;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #005bb5;
  }

  
  @media (max-width: 768px) {
    .table {
      font-size: 0.9rem;
    }
  
    .container {
      width: 100%;
      padding: 1rem;
    }
  }
  